/**
* Stylesheet for GoogleTranslator extension.
*/

/* Pad Google Translate box in portlet in sidebar */
#p-googleatranslator .pBody {
    padding-top: 5px;
    text-align:  center;
}

/* Removes the translation "better suggestion" pop-up */
#goog-gt-tt {
        display:none !important;
}

/* Removes the translation "better suggestion" highlight */
font.goog-text-highlight {
background-color: unset;
-webkit-box-shadow: none;
box-shadow: none;
}

/* Hide the G logo (Don't do this for now)
.goog-te-gadget-icon {
        display:none !important;
}
*/

/* Move the Traslate box */
#google_translate_element {
        transform: translateX(-5px);
}

/* Adjust font size
.goog-te-menu-value {
    font-size: 0.85em;
    line-height: 1.125em;
}
*/

/* Zoom for the entire element */
.goog-te-gadget-simple {
        zoom: .85 !important;
        padding-right: 15px;
}

/* Remove drowndown arrow */
.goog-te-menu-value span:last-child {
        display:none !important;
}
