/**
* Stylesheet for GoogleTranslator extension.
*/

/* Pad Google Translate box in portlet in sidebar */
#p-googleatranslator .pBody {
    padding-top: 5px;
    text-align:  center;
}

/* Removes the translation "better suggestion" pop-up */
#goog-gt-tt {
        display:none !important;
}

font.goog-text-highlight {
background-color: unset;
-webkit-box-shadow: none;
box-shadow: none;
}

/* Hide the G logo (Don't do this for now)
.goog-te-gadget-icon {
        display:none !important;
}
*/

/* Move the Traslate box */
#google_translate_element {
        transform: translateX(-0px);
}
